//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

//   header 
@import "partials/header";

//   home-page 
@import "partials/home-page";

// single-page 
@import "partials/single-page";

//   footer 
@import "partials/footer";