* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 150px;
  display: flex;
}

header .logo {
  width: 80px;
}

header .logo img {
  max-width: 100%;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #8e8c8e;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 5px;
}

.jumbo {
  height: 400px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#home-page-content {
  position: relative;
  padding: 20px 0;
  background-color: #1c1c1c;
}

#home-page-content .container {
  display: block;
}

#home-page-content .title-wrapper {
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  padding: 10px 25px;
  position: absolute;
  top: -25px;
}

#home-page-content .cards-container {
  display: flex;
  flex-wrap: wrap;
}

#home-page-content .cards-container .card {
  width: calc(16.6666666667% - 10px);
  margin: 20px 5px;
}

#home-page-content .cards-container .card a {
  text-decoration: none;
  color: white;
}

#home-page-content .cards-container .card a:hover {
  cursor: pointer;
}

#home-page-content .cards-container .card a .card-img {
  max-height: 200px;
  overflow: hidden;
}

#home-page-content .cards-container .card a .card-img img {
  width: 100%;
}

#home-page-content .cards-container .card a .card-title {
  color: white;
}

#home-page-content .btn-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#home-page-content .btn-container .btn-load-more {
  width: 20%;
  text-transform: uppercase;
  padding: 10px 40px;
  display: inline-block;
  background-color: #0282f9;
  cursor: pointer;
  transition: all;
}

#home-page-content .btn-container .btn-load-more:hover {
  background-color: #71ace2;
}

#home-page-content .btn-container .btn-load-more:hover h5 {
  transform: scale(1.2);
}

#home-page-shop {
  background-color: #0282f9;
  padding: 50px 0;
}

#home-page-shop ul {
  display: flex;
  justify-content: space-evenly;
}

#home-page-shop ul li {
  display: inline-block;
  margin-right: 25px;
}

#home-page-shop ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#home-page-shop ul li a:hover {
  cursor: pointer;
}

#home-page-shop ul li a img {
  height: 50px;
  margin-right: 10px;
}

#comic .bg-light-blue {
  height: 100px;
  background-color: #0282f9;
  position: relative;
}

#comic .bg-light-blue .comic-img-wrapper {
  border: 2px solid white;
  background-color: #00a9d9;
  position: absolute;
  bottom: 25px;
}

#comic .bg-light-blue .comic-img-wrapper a {
  text-decoration: none;
  cursor: pointer;
}

#comic .bg-light-blue .comic-img-wrapper a img {
  display: block;
}

#comic .bg-light-blue .comic-img-wrapper a .gallery {
  text-align: center;
  padding: 5px 0;
}

#comic .bg-light-blue .comic-img-wrapper a .gallery span {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#comic .comic-wrapper {
  padding: 80px 0;
}

#comic .comic-wrapper .comic-description-left {
  width: 70%;
  float: left;
  padding-right: 40px;
}

#comic .comic-wrapper .comic-description-left h2 {
  color: #003f5e;
  text-transform: uppercase;
}

#comic .comic-wrapper .comic-description-left .price-wrapper {
  width: 100%;
  background-color: #55ba59;
  border-bottom: 1px solid darkslategray;
  color: white;
  padding: 10px 15px;
  margin: 15px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comic .comic-wrapper .comic-description-left .sale-status-container {
  display: flex;
  align-items: center;
}

#comic .comic-wrapper .comic-description-left .sale-status-container .sale-status {
  padding: 0 15px;
}

#comic .comic-wrapper .comic-description-left .sale-status-container .sale-status span {
  text-transform: uppercase;
}

#comic .comic-wrapper .comic-description-left .sale-status-container .check-availability {
  padding: 0 15px;
}

#comic .comic-wrapper .comic-description-left .sale-status-container .check-availability span {
  font-size: 10px;
  cursor: pointer;
}

#comic .comic-wrapper .comic-adv-right {
  width: 30%;
  float: right;
  margin-top: -25px;
}

#comic .comic-wrapper .comic-adv-right .adv-text {
  text-align: right;
  margin-bottom: 15px;
}

#comic .comic-wrapper .comic-adv-right .adv-text span {
  color: #555555;
  font-weight: bold;
  text-transform: uppercase;
}

#comic .comic-wrapper .comic-adv-right .image-wrapper {
  height: 250px;
}

#comic .comic-wrapper .comic-adv-right .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#comic .container-center {
  width: 60%;
  margin: 0 auto;
}

#comic .clearfix {
  content: " ";
  display: table;
  clear: both;
}

#comic .light-green-txt {
  color: #a6f791;
}

#footer-nav {
  background-image: url("/storage/assets/footer-bg.jpg");
}

#footer-nav #nav-container {
  float: left;
}

#footer-nav #nav-container #nav-links {
  display: flex;
  margin: 50px 0;
}

#footer-nav #nav-container #nav-links #left-nav,
#footer-nav #nav-container #nav-links #mid-nav,
#footer-nav #nav-container #nav-links #right-nav {
  margin-right: 30px;
}

#footer-nav #nav-container #nav-links #left-nav h3,
#footer-nav #nav-container #nav-links #mid-nav h3,
#footer-nav #nav-container #nav-links #right-nav h3 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
}

#footer-nav #nav-container #nav-links #left-nav li,
#footer-nav #nav-container #nav-links #mid-nav li,
#footer-nav #nav-container #nav-links #right-nav li {
  list-style-type: none;
}

#footer-nav #nav-container #nav-links #left-nav li a,
#footer-nav #nav-container #nav-links #mid-nav li a,
#footer-nav #nav-container #nav-links #right-nav li a {
  color: #5c5c5c;
  font-size: 10px;
  text-decoration: none;
}

#footer-nav #nav-container #nav-links #left-nav li a:hover,
#footer-nav #nav-container #nav-links #mid-nav li a:hover,
#footer-nav #nav-container #nav-links #right-nav li a:hover {
  color: #0282F9;
  cursor: pointer;
}

#footer-nav #nav-container #copyright p {
  color: #5c5c5c;
}

#footer-nav #nav-container #copyright p a {
  color: #0282F9;
  text-decoration: none;
}

#footer-nav #nav-container #copyright p:hover {
  cursor: pointer;
}

#footer-nav .logo {
  float: right;
}

#footer-nav .logo img {
  width: 600px;
  height: 400px;
  -o-object-fit: none;
     object-fit: none;
}

#footer-sm-channels {
  background-color: #303030;
  height: 100px;
  display: flex;
}

#footer-sm-channels button {
  border: 2px solid #057be8;
  padding: 15px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.8s ease;
}

#footer-sm-channels button:hover {
  background-color: #057be8;
}

#footer-sm-channels #sm-channels {
  display: flex;
  align-items: center;
}

#footer-sm-channels #sm-channels span {
  margin-right: 15px;
  color: #0878de;
  font-weight: bold;
  text-transform: uppercase;
}

#footer-sm-channels #sm-channels ul li {
  display: inline;
  margin: 0 5px;
}

#footer-sm-channels #sm-channels ul li a {
  text-decoration: none;
}

#footer-sm-channels #sm-channels ul li:hover {
  cursor: pointer;
  filter: grayscale(0.8);
}

