* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 150px;
  display: flex;
}

header .logo {
  width: 80px;
}

header .logo img {
  max-width: 100%;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #8e8c8e;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 5px;
}

.jumbo {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#home-page-content {
  position: relative;
  padding: 20px 0;
  background-color: #1c1c1c;
}

#home-page-content .container {
  display: block;
}

#home-page-content .title-wrapper {
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  padding: 10px 25px;
  position: absolute;
  top: -25px;
}

#home-page-content .cards-container {
  display: flex;
  flex-wrap: wrap;
}

#home-page-content .cards-container .card {
  width: calc(16.6666666667% - 10px);
  margin: 20px 5px;
}

#home-page-content .cards-container .card .card-img {
  max-height: 200px;
  overflow: hidden;
}

#home-page-content .cards-container .card .card-img img {
  width: 100%;
}

#home-page-content .cards-container .card .card-title {
  color: white;
}

#home-page-content .btn-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#home-page-content .btn-container .btn-load-more {
  width: 20%;
  text-transform: uppercase;
  padding: 10px 40px;
  display: inline-block;
  background-color: #0282f9;
  cursor: pointer;
  transition: all;
}

#home-page-content .btn-container .btn-load-more:hover {
  background-color: #71ace2;
}

#home-page-content .btn-container .btn-load-more:hover h5 {
  transform: scale(1.2);
}

#home-page-shop {
  background-color: #0282f9;
  padding: 50px 0;
}

#home-page-shop ul {
  display: flex;
  justify-content: space-evenly;
}

#home-page-shop ul li {
  display: inline-block;
  margin-right: 25px;
}

#home-page-shop ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#home-page-shop ul li a img {
  height: 50px;
  margin-right: 10px;
}

#footer-nav {
  background-image: url("/img/footer-bg.jpg");
}

#footer-nav #nav-container {
  float: left;
}

#footer-nav #nav-container #nav-links {
  display: flex;
  margin: 50px 0;
}

#footer-nav #nav-container #nav-links #left-nav,
#footer-nav #nav-container #nav-links #mid-nav,
#footer-nav #nav-container #nav-links #right-nav {
  margin-right: 30px;
}

#footer-nav #nav-container #nav-links #left-nav h3,
#footer-nav #nav-container #nav-links #mid-nav h3,
#footer-nav #nav-container #nav-links #right-nav h3 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
}

#footer-nav #nav-container #nav-links #left-nav li,
#footer-nav #nav-container #nav-links #mid-nav li,
#footer-nav #nav-container #nav-links #right-nav li {
  list-style-type: none;
}

#footer-nav #nav-container #nav-links #left-nav li a,
#footer-nav #nav-container #nav-links #mid-nav li a,
#footer-nav #nav-container #nav-links #right-nav li a {
  color: #5c5c5c;
  font-size: 10px;
  text-decoration: none;
}

#footer-nav #nav-container #nav-links #left-nav li a:hover,
#footer-nav #nav-container #nav-links #mid-nav li a:hover,
#footer-nav #nav-container #nav-links #right-nav li a:hover {
  color: #0282F9;
  cursor: pointer;
}

#footer-nav #nav-container #copyright p {
  color: #5c5c5c;
}

#footer-nav #nav-container #copyright p a {
  color: #0282F9;
  text-decoration: none;
}

#footer-nav #nav-container #copyright p:hover {
  cursor: pointer;
}

#footer-nav .logo {
  float: right;
}

#footer-nav .logo img {
  width: 600px;
  height: 400px;
  -o-object-fit: none;
     object-fit: none;
}

#footer-sm-channels {
  background-color: #303030;
  height: 100px;
  display: flex;
}

#footer-sm-channels button {
  border: 2px solid #057be8;
  padding: 15px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.8s ease;
}

#footer-sm-channels button:hover {
  background-color: #057be8;
}

#footer-sm-channels #sm-channels {
  display: flex;
  align-items: center;
}

#footer-sm-channels #sm-channels span {
  margin-right: 15px;
  color: #0878de;
  font-weight: bold;
  text-transform: uppercase;
}

#footer-sm-channels #sm-channels ul li {
  display: inline;
  margin: 0 5px;
}

#footer-sm-channels #sm-channels ul li a {
  text-decoration: none;
}

#footer-sm-channels #sm-channels ul li:hover {
  cursor: pointer;
  filter: grayscale(0.8);
}

