* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 150px;
  display: flex;
}

header .logo {
  width: 80px;
}

header .logo img {
  max-width: 100%;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #8e8c8e;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 5px;
}

.jumbo {
  height: 400px;
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/3VdbzXAS3LY3shfsKw266W9jQiG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home-page-content {
  position: relative;
  padding: 20px 0;
  background-color: #1c1c1c;
}

#home-page-content .title-wrapper {
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  padding: 10px 25px;
  position: absolute;
  top: -25px;
}

#home-page-content .cards-container {
  display: flex;
  flex-wrap: wrap;
}

#home-page-content .cards-container .card {
  width: calc(16.6666666667% - 10px);
  margin: 20px 5px;
}

#home-page-content .cards-container .card .card-img {
  max-height: 200px;
  overflow: hidden;
}

#home-page-content .cards-container .card .card-img img {
  width: 100%;
}

#home-page-content .cards-container .card .card-title {
  color: white;
}

