header {
    height: 150px;
    display: flex;

   .logo {
       width: 80px;
       img {
          max-width: 100%;
      }
  }

  nav {
      ul {
          li {
              display: inline-block;
              margin: 0 10px;
      
              a {
                text-decoration: none;
                color: rgba(142,140,142,255);
                font-size: 20px;
                font-weight: bold;
                padding: 48px 5px;
              }
          }
      }
  }
}

.jumbo {
    height: 400px;
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}