#home-page-content {
    position: relative;
    padding: 20px 0;
    background-color: rgba(28,28,28,255);

    .container {
        display: block;
    }

    .title-wrapper {
        text-transform: uppercase;
        color: white;
        background-color: #0282f9;
        padding: 10px 25px;
        position: absolute;
        top: -25px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;

        .card {
            width: calc(100% / 6 - 10px);
            margin: 20px 5px;

            .card-img {
                max-height: 200px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .card-title {
                color: white;
            }
        }
    }

    .btn-container {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        .btn-load-more {
            width: 20%;
            text-transform: uppercase;
            padding: 10px 40px;
            display: inline-block;
            background-color: #0282f9;
            cursor: pointer;
            transition: all;

            &:hover {
                background-color: #71ace2;
            }
            &:hover h5 {
                transform: scale(1.2);
            }
        }
    }
}
